---
# ====================================
# MySQL Server Installation and Configuration
# ====================================

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install MySQL Server
  apt:
    name:
      - mysql-server
      - python3-pymysql
    state: present
    update_cache: yes

- name: Ensure MySQL is started and enabled
  systemd:
    name: mysql
    state: started
    enabled: yes

- name: Set MySQL root password
  mysql_user:
    name: root
    password: "{{ mysql_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock
    login_user: root
    login_password: ""
    host: localhost
    state: present
  ignore_errors: yes

- name: Update MySQL root password (if already set)
  mysql_user:
    name: root
    password: "{{ mysql_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock
    login_user: root
    login_password: "{{ mysql_root_password }}"
    host: localhost
    state: present
  ignore_errors: yes

- name: Remove anonymous MySQL users
  mysql_user:
    name: ''
    host_all: yes
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Remove MySQL test database
  mysql_db:
    name: test
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Configure MySQL to accept remote connections
  template:
    src: mysqld-override.cnf.j2
    dest: /etc/mysql/mysql.conf.d/mysqld-override.cnf
    owner: root
    group: root
    mode: '0644'
  notify: restart mysql

- name: Create Gitea database
  mysql_db:
    name: "{{ gitea_db_name }}"
    state: present
    encoding: utf8mb4
    collation: utf8mb4_unicode_ci
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Create Gitea MySQL user
  mysql_user:
    name: "{{ gitea_db_user }}"
    password: "{{ mysql_root_password }}"
    host: "10.1.2.%"
    priv: "{{ gitea_db_name }}.*:ALL"
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Flush privileges
  mysql_query:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock
    query: FLUSH PRIVILEGES

- name: Ensure MySQL is listening on all interfaces
  lineinfile:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: '^bind-address'
    line: 'bind-address = 0.0.0.0'
    state: present
  notify: restart mysql
